<div class="container">
<h1>Show Page for a Single Farm</h1>
<%#= link_to "create", farm_bookins_path(dose), method: :post, class: "btn-treehouse" %>
<%= @farm.name %>
<%= render 'bookings/form' %>
</div>
