<h1>WELCOME TO MY DASHBOARD :)</h1>
<p>Find me in app/views/dashboard/show.html.erb</p>


<h2>GUEST TAB</h2>



<div>

<div class="tabs">
  <a class="tab active" href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
    <h3>STEP 1</h3>
    <p>x</p>
  </a>
  <a class="tab" href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
    <h3>STEP 2</h3>
    <p>x</p>
  </a>
</div>

 <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="tab1">
      <%= render 'dashboard/tabs/tab_guest' %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab2">
      <%= render 'dashboard/tabs/tab_owner' %>
    </div>
  </div>

</div>
