<ul class="cb-slideshow">
  <li>
    <span>Image 01</span>
    <div>
      <h3>re·lax·a·tion</h3>
    </div>
  </li>
    <li>
    <span>Image 02</span>
    <div>
      <h3>breathe</h3>
    </div>
  </li>
    <li>
    <span>Image 03</span>
    <div>
      <h3>s·l·eeeeee·p</h3>
    </div>
  </li>
    <li>
    <span>Image 04</span>
    <div>
      <h3>grow</h3>
    </div>
  </li>
    <li>
    <span>Image 05</span>
    <div>
      <h3>nourish</h3>
    </div>
  </li>
    <li>
    <span>Image 06</span>
    <div>
      <h3>F·A·R·M</h3>
    </div>
  </li>
</ul>
