<div>
<%= render 'components/home-banner'%>
<div>
<div class="container">
<h3>Top Ten Farmcation Locations</h3>
<%= render 'shared/cards' %>
<div>

<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

