<div>
  <%= render 'components/home-banner'%>
<div>
<div class="urb-title-area-container">
  <h2>Top Ten Farms</h2>
</div>
<div class="urb-main-area-container-with-cards">
  <%= render 'shared/cards' %>
<div>

<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->
