<div class="bookings">
  <% @booking_guest.each do |booking| %>

  <div class="booking">
    <%= image_tag('farm-placeholder.jpeg', class: "img-small") %>
    <div class="booking-body">
      <p><strong><%= "Booking from #{booking.start_date} to #{booking.end_date}"%></strong></p>
      <p><%= "#{booking.farm.name} (#{booking.farm.location}, #{booking.farm.country}) " %></p>
    </div>
    <div class="booking-status">
      <p class="status pending">Pending</p>
      <p class="price"><%= booking.total_price %> USD</p>
    </div>
    <div class="booking-review">
      <p class="review-rating"><i class="far fa-star"></i></p>
      <p class="review-link">Show my review </p>
    </div>
  </div>

  <% end %>

</div>
